# Simple http config

http:
  services:
    jetkvm_service:
      loadBalancer:
        servers:
          - url: "http://${JETKVM_HOST}:${JETKVM_PORT}/"
    ollama_service:
      loadBalancer:
        servers:
          - url: "http://${OLLAMA_HOST}:${OLLAMA_PORT}/"
    gpt_service:
      loadBalancer:
        servers:
          - url: "http://${GPT_HOST}:${GPT_PORT}/"
    grafana_service:
      loadBalancer:
        servers:
          - url: "http://${GRAFANA_HOST}:${GRAFANA_PORT}/"
    gpsd_service:
      loadBalancer:
        servers:
          - url: "http://${GPSD_HOST}:${GPSD_PORT}/"

  routers:
    jetkvm_router:
      rule: "Host(`jetkvm.pipedpiper.ovpn`)"
      service: "jetkvm_service"
      entryPoints:
        - "jetkvm_ep"
    ollama_router:
      rule: "ClientIP(`192.168.0.0/16`)"
      service: "ollama_service"
      entryPoints:
        - "ollama_ep"
    gpt_router:
      rule: "Host(`gpt.pipedpiper.ovpn`)"
      service: "gpt_service"
      entryPoints:
        - "gpt_ep"
    grafana_router:
      rule: "Host(`grafana.pipedpiper.ovpn`)"
      service: "grafana_service"
      entryPoints:
        - "grafana_ep"
    gpsd_router:
      rule: "Host(`gpsd.pipedpiper.ovpn`)"
      service: "gpsd_service"
      entryPoints:
        - "gpsd_ep"
